<h1>Create New User Here</h1>

<form action="/users" method="POST">

  <label for="username">Username:</label>
  <input type="text" id="username" name="user[username]">

  <label for="email">Email:</label>
  <input type="text" id="email" name="user[email]">

  <label for="password">Password:</label>
  <input type="password" id="password" name="user[password]">


  <input type="submit">

</form>
