<h1>Make your form here.</h1>
<form action="/places" method="POST">

  <label for="place_name">Name</label>
  <input type="text" id="place_name" name="place[name]">
<br>
  <label for="place_address_1">Address 1</label>
  <input type="text" id="place_address_1" name="place[address_1]">
<br>
  <label for="place_address_2">Address 2</label>
  <input type="text" id="place_address_2" name="place[address_2]">
<br>
  <label for="place_city">City</label>
  <input type="text" id="place_city" name="place[city]">
<br>
<label for="place_state">State</label>
<input type="text" id="place_state" name="place[state]">
<br>
<label for="place_zip">Zip</label>
<input type="text" id="place_zip" name="place[zip]">
<br>
<label for="place_changing_tables_women">Changing Tables: Women</label>
<input type="checkbox" id="place_changing_tables_women" name="place[changing_tables_women]">
<br>
<label for="place_changing_tables_men">Changing Tables: Men</label>
<input type="checkbox" id="place_changing_tables_men" name="place[changing_tables_men]">
<br>
<label for="place_high_chairs">High Chairs</label>
<input type="checkbox" id="place_high_chairs" name="place[high_chairs]">
<br>
<label for="place_slings_for_carseats">Slings for Carseats</label>
<input type="checkbox" id="place_slings_for_carseats" name="place[slings_for_carseats]">
<br>
<label for="place_family_restrooms">Family Restrooms</label>
<input type="checkbox" id="place_family_restrooms" name="place[family_restrooms]">
<br>
<label for="place_nursing_rooms">Nursing Rooms</label>
<input type="checkbox" id="place_nursing_rooms" name="place[nursing_rooms]">
<br>
  <input type="submit" value="submit">

</form>
